{% extends 'base.html' %} {% block title %}Proyectos{% endblock %} {% block content %}
<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">MentePro</h2>
                                <p><b>MentePro</b> ayuda a los usuarios a mejorar su capacidad de cálculo mental y agilidad numérica de forma entretenida y accesible. Mediante ejercicios progresivos, la app fomenta la concentración, la rapidez mental y el
                                    aprendizaje constante, contribuyendo al desarrollo cognitivo diario. <a href="https://play.google.com/store/apps/details?id=com.pedrini.mentepro" target="_blank" style="color: #0066cc; font-weight: bold;">Ir al app</a></p>
                            </div>
                            <img class="img-fluid" src="/static/assets/icono.png" alt="Icono del app" width="250px" height="250px" style="padding:12px; background-color: #f0f0f0; border-radius: 5%; margin-right: 12px;" />
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Cuentos Mágicos</h2>
                                <p><b>Cuentos Mágicos</b> es una aplicación educativa e interactiva diseñada para niños en edad escolar. Su objetivo principal es fomentar el hábito lector y el desarrollo del lenguaje mediante una colección cuidadosamente
                                    seleccionada de cuentos infantiles ilustrados que combinan entretenimiento, imaginación y valores educativos. <a href="https://play.google.com/store/apps/details?id=com.cuentosmagic" target="_blank" style="color: #0066cc; font-weight: bold;">Ir al app</a></p>
                            </div>
                            <img class="img-fluid" src="/static/assets/logo.png" alt="Icono del app" width="250px" height="250px" style="padding:12px; background-color: #f0f0f0; border-radius: 5%; margin-right: 12px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Construyamos algo juntos</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contáctame me</a>
        </div>
    </div>
</section>

{% endblock %}